* {
    margin: 0;
    font-family: Arial;
}

header {
    background-color: black;
    display: flex;
    flex: 1;
    min-height: 150px;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

    li:not(:first-child):not(:last-child) {
        margin: 0px 10px 0px 10px;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

main {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.destaques, .noticias {
    display: flex;
    background-color: white;
}


