* {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

li {
    text-align: start;
}

a {
    font-weight: bold;
    
}

.title {
    margin-bottom: 20px;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.container div {
    margin-bottom: 25px;
}
